<div class="row">
	<div class="col-md-12" ng-hide="registrationMode">
		<div class="login-form">
			<form ng-submit="form.submit();">
				<input ng-repeat="field in fields" class="form-control" placeholder="{{field.display}}" type="{{field.type}}" ng-model="data[field.name]" ng-if="field.length == 1" />
				<input class="btn btn-default btn-block" type="submit" value="Log In"/>
				<p class="text-danger">{{alert}}</p>
			</form>
		</div>
	</div>
	<div class="col-md-12" ng-hide="!registrationMode">
		<div class="login-form">
			<form ng-submit="form.register();">
				<input ng-repeat="field in fields" class="form-control" placeholder="{{field.display}}" type="{{field.type}}" ng-model="data[field.name]" />
				<input class="btn btn-default btn-block" type="submit" value="Register"/>
				<p class="text-danger">{{alert}}</p>
			</form>
		</div>
	</div>
</div>